Django==5.2.7
mysqlclient
whitenoise==6.12.0
xhtml2pdf==0.2.11
reportlab==4.4.3
requests==2.32.5
python-dotenv
numpy==1.26.4
pandas==2.3.1
Pillow==11.2.1
openpyxl==3.1.5
asgiref==3.10.0
sqlparse==0.5.3
python-dateutil
lxml==6.1.0
